<div class="container-fluid p-0">
    <div class="row g-2">
        <div class="col-12 col-md-8">

            <div class="left-info">
                <h1>Reduce</h1>
                <div class="container-fluid text-center justify-content-center">
                    <div class="row g-4">
                        <div class="col-4">
                            <div class="publicacion">
                                <img src="images/Reduce.png" class="img-fluid" />
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="publicacion">
                                <img src="images/Reduce.png" class="img-fluid" />
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="publicacion">
                                <img src="images/Reduce.png" class="img-fluid" />
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="publicacion">
                                <img src="images/Reduce.png" class="img-fluid" />
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="publicacion">
                                <img src="images/Reduce.png" class="img-fluid" />
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="publicacion">
                                <img src="images/Reduce.png" class="img-fluid" />
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="publicacion">
                                <img src="images/Reduce.png" class="img-fluid" />
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="publicacion">
                                <img src="images/Reduce.png" class="img-fluid" />
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="publicacion">
                                <img src="images/Reduce.png" class="img-fluid" />
                            </div>
                        </div>
                    </div>
                    
                    <br/>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a class="page-link" >Previous</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    <br>
                </div>
            </div>


        </div>

        <div class="col-12 col-md-4">

            <div class="right-info">
                <h2>Información externa</h2>
                <a href="https://www.nationalgeographic.es/medio-ambiente/2021/02/10-consejos-para-reducir-tu-huella-de-carbono-en-casa">10 consejos para reducir tu huella de carbono en casa - National Geographic España</a><br>
                <a href="https://www.ecologiaverde.com/que-es-la-reduccion-de-residuos/">¿Qué es la reducción de residuos? - EcologíaVerde</a><br>
                <a href="https://www.concienciaeco.com/2015/05/08/5-sencillos-pasos-para-reducir-nuestro-consumo-en-casa/">5 sencillos pasos para reducir nuestro consumo en casa - Conciencia Eco</a><br>
                <a href="https://www.youtube.com/watch?v=YiHTNfKJwAw">¿Cómo reciclar? - Guía completa dereciclaje - YouTube</a>
                <br>
                <a href="https://www.youtube.com/watch?v=gHoQhsDzLy0">¿Cómo reciclar correctamente? | Plan V - YouTube</a>
            </div>

        </div>

    </div>
</div>

