<div class="container-fluid registro">
    <h1>Registrarse</h1>

    <form class="formulario row g-3 p-3 needs-validation" novalidate>

        <div class="col-12 col-md-6" id="campos-1">

            <div class="form-group row">
                <div class="col-12">
                    <label class="form-label">Nombre</label>
                </div>

                <div class="col-12">
                    <input type="text" class="form-control" id="nombre" name="nombre" required>
                </div>

                <div class="col invalid-feedback">

                </div>
            </div>

            <br />

            <div class="form-group row">
                <div class="col-12">
                    <label class="form-label">Correo Electrónico</label>
                </div>

                <div class="col-12">
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>

                <div class="col invalid-feedback">

                </div>
            </div>

            <br />

            <div class="form-group row">
                <div class="col-12">
                    <label class="form-label">Rut</label>
                </div>

                <div class="col-12">
                    <input type="text" class="form-control" id="rut" name="rut" required>
                </div>

                <div class="col invalid-feedback">

                </div>
            </div>

            <br />

            <div class="form-group row">
                <div class="col-12">
                    <label class="form-label">Teléfono</label>
                </div>

                <div class="col-12">
                    <input type="text" class="form-control" id="telefono" name="telefono" required>
                </div>

                <div class="col invalid-feedback">

                </div>
            </div>

            <br />

            <div class="form-group row">
                <div class="col-12">
                    <label class="form-label">Fecha de Nacimiento</label>
                </div>

                <div class="col-12">
                    <input type="date" class="form-control" id="fechaNac" name="fechaNac" required>
                </div>

                <div class="col invalid-feedback">

                </div>
            </div>

            <br />
        </div>

        <div class="col-12 col-md-6" id="campos-2">

            <div class="form-group row">
                <div class="col-12">
                    <label class="form-label">Región</label>
                </div>

                <div class="col-12">
                    <select class="form-select" id="region" name="region" required>
                        <option value="1">Valparaíso</option>
                        <option value="2">Atacama</option>
                        <option value="3">Arica y Parinacota</option>
                        <option value="4">Los lagos</option>
                    </select>
                </div>

                <div class="col invalid-feedback">

                </div>
            </div>

            <br />

            <div class="form-group row">
                <div class="col-12">
                    <label class="form-label">Comuna</label>
                </div>

                <div class="col-12">
                    <select class="form-select" id="comuna" name="comuna" required>
                        <option value="1">Valparaíso</option>
                        <option value="2">Viña del Mar</option>
                        <option value="3">San Antonio</option>
                        <option value="4">Quilpué</option>
                    </select>
                </div>

                <div class="col invalid-feedback">

                </div>
            </div>

            <br />

            <div class="form-group row">
                <div class="col-12">
                    <label class="form-label">Contraseña</label>
                </div>

                <div class="col-12">
                    <input type="password" class="form-control" id="contrasenya" name="contrasenya"
                        pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" required>
                </div>

                <div class="col invalid-feedback">

                </div>
            </div>

            <br />

            <div class="form-group row">
                <div class="col-12">
                    <label class="form-label">Confirmar Contraseña</label>
                </div>

                <div class="col-12">
                    <input type="password" class="form-control" id="recontrasenya" name="recontrasenya"
                        required>
                </div>

                <div class="col invalid-feedback">

                </div>
            </div>

            <br />

            <div class="form-group row">
                <div class="col-2">
                    <input type="checkbox" id="tyc" name="tyc"/>
                </div>

                <div class="col">
                    <label>Acepto términos y condiciones</label>
                </div>
            </div>

            <br />

            <div class="form-group row">
                <button type="submit">Siguiente</button>
            </div>
        </div>
    </form>
</div>
