<div class="container-fluid p-0">
    <div class="row g-2">
        <div class="col-12 col-md-8">

            <div class="left-info">
                <h1>Reutiliza</h1>

                <div class="container-fluid text-center justify-content-center">
                    <div class="row g-4">
                        <div class="col-4">
                            <div class="publicacion">
                                <img src="../../../assets/images/reutiliza.png" class="img-fluid" />
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="publicacion">
                                <img src="../../../assets/images/reutiliza.png" class="img-fluid" />
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="publicacion">
                                <img src="../../../assets/images/reutiliza.png" class="img-fluid" />
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="publicacion">
                                <img src="../../../assets/images/reutiliza.png" class="img-fluid" />
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="publicacion">
                                <img src="../../../assets/images/reutiliza.png" class="img-fluid" />
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="publicacion">
                                <img src="../../../assets/images/reutiliza.png" class="img-fluid" />
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="publicacion">
                                <img src="../../../assets/images/reutiliza.png" class="img-fluid" />
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="publicacion">
                                <img src="../../../assets/images/reutiliza.png" class="img-fluid" />
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="publicacion">
                                <img src="../../../assets/images/reutiliza.png" class="img-fluid" />
                            </div>
                        </div>
                    </div>

                    <br />

                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                    <br>
                </div>
            </div>


        </div>

        <div class="col-12 col-md-4">

            <div class="right-info">
                <h2>Información externa</h2>
                <a href="https://www.ecologiaverde.com/ideas-para-reutilizar-objetos-en-casa/">Ideas para reutilizar objetos en casa - EcologíaVerde</a><br>
                <a href="https://www.ecoticias.com/residuos-reciclaje/110825/13-ideas-para-reutilizar-objetos-que-ya-no-te-sirven">13 ideas para reutilizar objetos que ya no te sirven - Ecoportal.net</a><br>
                <a href="https://www.hogarmania.com/bricolaje/taller/reciclaje/ideas-para-reutilizar-objetos-25088.html">Ideas para reutilizar objetos - Hogarmania</a><br>
                <a href="https://www.eldiario.es/consumoclaro/cuidado-medioambiente/15-ideas-reutilizar-objetos-reciclar_1_2621705.html">15 ideas para reutilizar objetos y reciclar - eldiario.es</a><br>
                <a href="https://www.guiainfantil.com/articulos/reciclaje/reutilizar-objetos-para-decorar-en-navidad/">Reutilizar objetos para decorar en Navidad - GuiaInfantil.com</a><br>
                <a href="https://www.youtube.com/watch?v=YiHTNfKJwAw">¿Cómo reciclar? - Guía completa de
                    reciclaje -
                    YouTube</a>
                <br />
                <a href="https://www.youtube.com/watch?v=gHoQhsDzLy0">¿Cómo reciclar correctamente? | Plan V -
                    YouTube</a>
            </div>

        </div>

    </div>
</div>