<div class="container-fluid p-0">
    <div class="row g-3">
        <div class="col-12">
            <div class="top-perfil">
                <h1>Perfil</h1>
                <div class="top-perfil-components">
                    <div class="top-perfil-1">
                        <p>Nombre</p>
                        <p>Email</p>
                        <p>RUT</p>
                    </div>

                    <div class="top-perfil-2">
                        <p>Teléfono</p>
                        <p>Fecha de Nacimiento</p>
                    </div>

                    <div class="top-perfil-3">
                        <p>Región</p>
                        <p>Comuna</p>
                    </div>

                    <div class="top-perfil-4">
                        <img src="assets/images/reciclaje-perfil.png" />
                    </div>
                </div>

            </div>
        </div>

        <div class="col-12">
            <div class="bottom-perfil">

                <div class="container-fluid p-0">
                    <div class="row g-3">
                        <div class="col-12 col-md-4">
                            <div class="bottom-perfil-1">
                                <h2>Configuración</h2>
                                <p>Editar perfil</p>
                            </div>
                        </div>

                        <div class="col-12 col-md-8">
                            <div class="bottom-perfil-2">
                                <h2>Funciones</h2>
                                <div class="bottom-perfil-2-components">
                                    <div class="bottom-perfil-2-col1">
                                        <p>Agregar un nuevo punto de reciclaje</p>
                                        <p>Editar información de un punto de reciclaje</p>
                                    </div>
                                    <div class="bottom-perfil-2-col2">
                                        <p>Agregar una nueva publicación recicla</p>
                                        <p>Editar una publicación recicla</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>