
li{
    width: 100%;
}
ul{
    list-style-type: none;
    display: flex;
}
.bottom-usuarios {
    padding-bottom: 2%;
    text-align: left;
    background-color: #d9d9d9;
    border-radius: 10px;
    height: 100%;
}
.list-group-item button{
    color: white;
    background: #42B937;
    border-radius: 25px;
    width: 15%;
}