<div class="container-fluid p-0">
    <div class="row">
        <!-- SELECCION DEL LUGAR -->
        <div class="col-12 col-md-5 ">
            <div class="container-fluid left-section">
                    <div class="row">
                        <div class="left-section-1 text-center mb-2">
                            <h1>ECOmapa</h1>
                            <div class="row">
                                <div class="col-12 pb-3">
                                    <label>Busca tu punto de reciclaje más cercano:</label>
                                </div>
                                <div class="col-12 pb-3">
                                    <select name="select-location" id="select-location">
                                        <option name="opcion0" value="0">Seleccione un punto de reciclaje</option>
                                        <option name="opcion1" value="-33.044624, -71.612778">Brasil 2241</option>
                                        <option name="opcion2" value="-33.044542, -71.605786">Brasil 2950</option>	
                                        <option name="opcion3" value="-33.044613, -71.615641">Brasil 2021</option>
                                        <option name="opcion4" value="-33.046421, -71.619734">Plaza Victoria</option>
                                        <option name="opcion5" value="-33.047912, -71.613814">Parque Italia</option>
                                        <option name="opcion6" value="-33.050238, -71.610839">San Ignacio 725</option>
                                        <option name="opcion7" value="-33.038675, -71.628730">Plaza Sotomayor</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class=" left-section-2">
                            <h2 class="p-2">Resultados de la búsqueda</h2>
                            <div class="container-fluid datos">
                                <p class="salida-resultados"></p>
                            </div>
                                
                            
                        </div>
                    </div>
            </div>
        </div>
        <!-- MAPA -->
        <div class="col-12 col-md-7">
            <div class="righ-section" id="map"></div>
        </div>
    </div>
</div>


