<div class="container-fluid footer">
    <div class="row p-5 pb-0 pt-3">
        <div class="col-md-4">
            <p class="h4">@ecomaps.cl</p>
            <p>Av. Brasil 2241 oficina 3-12, Valparaíso</p>
        </div>
        <div class="col-md-4">
            <p class="h5">Contacto</p>
            <div class="mb-2">(00) 00 00 000</div>
            <div class="mb-2">contacto@ecomaps.cl</div>
        </div>
        <div class="col-md-4">
            <p class="h5">Nuestras Redes</p>
            <div class="mb-2">
                <i class="fa-brands fa-facebook"></i>
                <a class="redes_sociales" href="#">Facebook</a>
            </div>
            <div class="mb-2">
                <i class="fa-brands fa-instagram"></i>
                <a class="redes_sociales" href="#">Instagram</a>
            </div>
            <div class="mb-2">
                <i class="fa-brands fa-twitter"></i>
                <a class="redes_sociales" href="#">Twitter</a>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col pt-2">
            <p>Copyright - All rights reserved ©2023 ECOmaps</p>
        </div>
    </div>
</div>