<div class="container-fluid p-0">
    <div class="row g-3">
        <!-- CARRUSEL DE IMAGENES -->
        <div class="col-12 col-md-7">
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item" [ngClass]="i==0 ? 'active':''" *ngFor="let item of datos;let i=index;">
                        <img src="{{item.imagen}}" class="d-block w-100" alt="{{item.titulo}}" >
                        <div class="carousel-caption d-none d-md-block">
                          <h5>{{item.titulo}}</h5>
                          <p>{{item.descripcion}}</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <!-- INICIO -->
        <div class="col-12 col-md-5">
            <div class="text p-2">
                <h1>Bienvenidos a ECOmaps</h1>
                <br/>
                <p>ECOmaps es una aplicación creada por estudiantes de la PUCV para promover el reciclaje en Valparaíso. 
                    Proporciona información sobre lugares de reciclaje cercanos y ofrece consejos sobre cómo reciclar, reutilizar y reusar. Con su función de geolocalización, los usuarios pueden encontrar fácilmente puntos de reciclaje y conocer los materiales aceptados y horarios de funcionamiento. Además, la aplicación educa a los usuarios sobre prácticas sostenibles y brinda ideas para reutilizar objetos en el hogar. ECOmaps refleja el compromiso de los estudiantes con el medio ambiente y busca fomentar la participación ciudadana en la protección del planeta, facilitando el acceso a información y recursos necesarios para el reciclaje efectivo.</p>
                <br /><br /><br /><br /><br /><br /><br /><br /><br />
            </div>
        </div>
    </div>

</div>
