<div class="container-fluid section">
    <h1 style="text-align: center;">3R: Reducir, Recilar y Reutilizar</h1>
    <div class="container-fluid text-center">
        <h4 style="text-align: justify;">Las 3R son una estrategia de gestión de residuos que busca reducir, reutilizar y reciclar los materiales y
            productos que utilizamos en nuestra vida diaria. La primera R, reducir, implica disminuir la cantidad de residuos que generamos en 
            primera instancia, ya sea a través del uso de productos duraderos, la compra de productos sin excesivo embalaje o el consumo 
            responsable de energía y agua. La segunda R, reutilizar, consiste en darle una segunda vida a los productos que ya hemos utilizado,
            como por ejemplo mediante la reparación o el intercambio de bienes usados. Finalmente, la tercera R, reciclar, es la transformación 
            de los materiales que ya no tienen uso en nuevos productos, evitando así que se conviertan en residuos contaminantes para el medio
            ambiente.
        </h4>
        <div class="container-fluid text-center">
            <img src="assets/images/3rfoto.png" id="foto1">
        </div>
                
        <h4 style="text-align: justify;">La implementación de las 3R tiene numerosos beneficios tanto para el medio ambiente como para la economía y
            la sociedad en general. La reducción de la cantidad de residuos que generamos, por ejemplo, disminuye la necesidad de recursos naturales
            y reduce la cantidad de desechos que terminan en vertederos o incineradoras, lo que a su vez disminuye la contaminación ambiental y 
            la emisión de gases de efecto invernadero. Además, la reutilización y el reciclaje de materiales pueden generar empleos verdes y reducir
            la dependencia de la extracción de materias primas, lo que a su vez puede contribuir a la economía local y al desarrollo sostenible de
            la región.
        </h4>
    </div>
</div>
