 <!--CONTENEDOR-->
 <div class="container-fluid p-0">
    <div class="row g-3">
        <!--COLUMNA IZQUIERDA-->
        <div class="col-12 col-md-6">
            <div class="left-section">
                <h1 class="pt-3">Iniciar Sesión</h1>
                <!--FORMULARIO-->
                <form class="formulario needs-validation p-5" novalidate>
                    <div class="form-group row">
                        <div class="col-12">
                            <label class="form-label">Correo Electrónico</label>
                        </div>

                        <div class="col-12">
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>

                        <div class="col invalid-feedback">

                        </div>
                    </div>

                    <br />

                    <div class="form-group row">
                        <div class="col-12">
                            <label class="form-label">Contraseña</label>
                        </div>

                        <div class="col-12">
                            <input type="password" class="form-control" id="contrasenya" name="contrasenya"
                                required>
                        </div>

                        <div class="col invalid-feedback">

                        </div>
                    </div>

                    <br />

                    <div class="form-group row">
                        <div class="col-4 col-md-4 btn-siguiente">
                            <a href="#">
                                <button type="submit">Siguiente</button>
                            </a>
                        </div>

                        <div class="col-12 col-md-6">
                            <a class="conOlvidada" href="/cambiar">¿Olvidaste tú contraseña?</a>
                        </div>

                    </div>

                    <br />

                    <div class="form-group row">
                        <div class="col-12">
                            <a  href="/registro">¿No tiene cuenta? Registrese acá</a>
                        </div>
                    </div>

                    <br />

                </form>
            </div>
        </div>
        <!--COLUMNA DERECHA-->
        <div class="col-12 col-md-6">
            <div class="right-section text-center p-5">
                <img src="assets/images/planta.png" class="img-fluid" alt="">
            </div>
            
        </div>
    </div>

</div>