  <!--CONTENEDOR-->
 <div class="container-fluid p-0">
    <div class="row g-3">
        <!--COLUMNA IZQUIERDA-->
        <div class="col-12 col-md-6">
            <div class="left-section">
                <h1 class="pt-3">Iniciar Sesión</h1>
                <!--FORMULARIO-->
                <form #form="ngForm" [formGroup]="formInicioSesion" (ngSubmit)="iniciarSesion()" class="formulario needs-validation p-5" novalidate>
                    <div class="form-group row">
                        <div class="col-12">
                            <label class="form-label">Correo Electrónico</label>
                        </div>

                        <div class="col-12">
                            <input type="email" class="form-control" id="email" formControlName="email" placeholder="example@mail.com" required>
                        </div>

                        <div *ngIf="formInicioSesion.controls['email'].getError('required') && (formInicioSesion.controls['email'].touched || buttonClicked == true)" class="col-12 text-danger">
                            El correo es requerido
                        </div>

                        <div *ngIf="formInicioSesion.controls['email'].getError('email') && formInicioSesion.controls['email'].touched" class="col-12 text-danger">
                            El formato del correo no es correcto
                        </div>
                    </div>

                    <br />

                    <div class="form-group row">
                        <div class="col-12">
                            <label class="form-label">Contraseña</label>
                        </div>

                        <div class="col-12">
                            <input type="password" class="form-control" id="contrasenya" formControlName="password" required>
                        </div>

                        <div *ngIf="formInicioSesion.controls['password'].getError('required') && (formInicioSesion.controls['password'].touched || buttonClicked == true) " class="col text-danger">
                            La contraseña es requerida
                        </div>

                        <div *ngIf="formInicioSesion.controls['password'].getError('pattern') && formInicioSesion.controls['password'].touched" class="col text-danger">
                            El formato de la contraseña no es correcto
                        </div>
                    </div>

                    <br />

                    <div class="form group row">
                        <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" formControlName="recaptcha" (success)="checkCaptcha()" class="col-12"></ngx-recaptcha2>

                        <div *ngIf="buttonClicked == true && captchaResolved == false" class="col-12 text-danger">
                            Se debe rellenar el Captcha.
						</div>
                    </div>

                    <br />

                    <div class="form-group row">
                        <div class="col-4 col-md-4 btn-siguiente">
                            <a href="#">
                                <button type="submit">Siguiente</button>
                            </a>
                        </div>

                        <div class="col-12 col-md-6">
                            <a class="conOlvidada" href="/cambiar">¿Olvidaste tú contraseña?</a>
                        </div>

                    </div>

                    <br />

                    <div class="form-group row">
                        <div class="col-12">
                            <a  href="/registro">¿No tiene cuenta? Registrese acá</a>
                        </div>
                    </div>

                    <br />

                </form>
            </div>
        </div>
        <!--COLUMNA DERECHA-->
        <div class="col-12 col-md-6">
            <div class="right-section text-center p-5">
                <img src="assets/images/planta.png" class="img-fluid" alt="">
            </div>
            
        </div>
    </div>

</div>