/* Estilos Perfil*/

section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.top-perfil{
    padding: 2%;
    background-color: #d9d9d9;
    border-radius: 10px;
    width: 100%;
}

.top-perfil-components {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.top-perfil-2{
    margin-left: 5%;
}
.top-perfil-3{
    margin-left: 5%;
}
.top-perfil-4{
    margin-left: 5%;
}
.bottom-perfil{
    margin-top: 10px;
}
.bottom-perfil-1 {
    //padding: 2%;
    text-align: center;
    background-color: #d9d9d9;
    border-radius: 10px;
    height: 100%;
}

.bottom-perfil-2 {
    //padding: 2%;
    text-align: center;
    background-color: #d9d9d9;
    border-radius: 10px;
    height: 100%;
}

.bottom-perfil-2-components {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.bottom-perfil-1 button{
    color: white;
    background: #42B937;
    border-radius: 25px;
    width: 25%;
}