/* Estilos Ayuda*/
section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.centro-de-ayuda{
    padding-left: 3%;
    padding-top: 2%;
    padding-bottom: 3%;
    background-color: #D9D9D9;
    border-radius: 10px;
}

.preguntas-frecuentes {
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #D9D9D9;
    border-radius: 10px;
}

.imagen-ayuda {
    width: 30%;
    height: 30%;
    margin-left: 60%;
}

select {
    width: 80%
}

.accordion-body{
    background-color: rgb(4, 106, 4);
    color: azure;
}
